.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgotPasswordCard {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.forgotPasswordTitle {
    text-align: center;
    margin-bottom: 20px;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
}

.forgotPasswordField {
    margin-bottom: 15px;
}

.forgotPasswordLabel {
    margin-bottom: 5px;
    font-weight: bold;
}

.forgotPasswordInput {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forgotPasswordButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.forgotPasswordButton:hover {
    background-color: #0056b3;
}
