.App {
  font-family: Arial, sans-serif;
}

.content-wrapper {
  display: flex;
  transition: margin-left 0.3s ease;
  margin-left: 0;
  width: 100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
}