.cursor-pointer {
  cursor: pointer;
}
/* Основные стили для списка */
ul {
  list-style-type: none;
  padding: 0;
}

/* Стили для элементов списка */
li {
  padding: 10px;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

/* Стили для активного элемента */
li.active {
  background-color: #343a40; /* Цвет фона для активного элемента */
}

/* Стили для элемента при наведении */
li:hover {
  background-color: #495057; /* Цвет фона при наведении на элемент */
}

/* Дополнительные стили для текста и иконок внутри элементов списка */
.nav-item {
  margin-left: 10px;
}

.no-underline {
  text-decoration: none;
}

